// Add your keys here and rename the file to `.env`

ALGOLIA_APP_ID=4WYGFJL59M
ALGOLIA_ADMIN_KEY=b267c95643608394efddae6605974ea6
ALGOLIA_SEARCH_KEY=b267c95643608394efddae6605974ea6
ALGOLIA_INDEX_NAME=posts
